DiagnosticsAgent.InstanceNumber = 98
DiagnosticsAgent.LogicalHostName = {{ ansible_fqdn }}
DiagnosticsAgent.SAPJVMVersion = SAPJVM8
DiagnosticsAgent.SID = DAA
DiagnosticsAgent.SolMan.Connection = none
DiagnosticsAgent.SolMan.UseSSL = false
NW_Unpack.sapExeSar = {{ kernel_media_dir }}/SAPEXE_700-80002573.SAR
archives.downloadBasket = {{ kernel_media_dir }}
nwUsers.sapsysGID = 527
